<template>
<!-- HEADER -->
<div class="wrapper">
  <section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{Title}}
      </h1>
      <h2 class="subtitle">
        {{Subtitle}}
      </h2>
    </div>
  </div>
  </section>
    <!-- Input -->
  <div class="columns is-tablet">
    <div class="column is-half is-offset-one-quarter input-add-todo">
      <form v-on:submit="submit">
        <input class="input is-rounded" type="text" v-model="Todo" placeholder="Add Todo">
      </form>
    </div>
    <hr>
  </div>
  <!-- LIST TODO -->
  <div class="columns">
    <div class="column is-half is-offset-one-quarter input-add-todo">
      <ul id="list-todo">
          <li v-for="(item,id) in ListTodo" :key="id">
            <todo :todo="item" @click="deleteTodo"></todo>
          </li> 
      </ul>
    </div>
  </div>
</div>
</template>
<script>
import Todo from './Todo.vue'
export default {
  name: 'Header',
  data () {
    return {
      Title: 'ToDo App',
      Subtitle: 'Hello!',
      Todo: '',
      ListTodo: []
    }
  },
  methods: {
    submit () {
      this.ListTodo.push(this.Todo)
    },
    deleteTodo (todo) {
      const todoIndex = this.ListTodo.indexOf(todo);
      this.ListTodo.splice(todoIndex,1)
    }
  },
  components: { 
    Todo
  }
}
</script>

<style>
.input-add-todo {
  margin-top: 20px;
}
</style>
