<template>
  <div class="notification is-warning notification-config">
    <button class="delete" @click="deleteTodo(todo)"></button>
    {{todo}}            
  </div>
</template>

<script>
export default {
  name: 'Todo',
  props: ['todo'],
  data () {
      return {
        status: false
      } 
  },
  methods: {
    deleteTodo(todo){
      this.$emit('click',todo)
    }
  }
}
</script>

<style>
.notification-config {
  margin-bottom: 10px;
}
</style>


